@import "../../global.scss";

.works {
    background-color: #344E5C;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @include mobile {
        margin: 0;
    }

    .arrow {
        height: 50px;
        position: absolute;
        cursor: pointer;

        @include mobile {
            display: none;
        }

        &.left {
            left: 100px;
            transform: rotateY(180deg);
        }
        &.right {
            right: 100px;
        }
    }

    .slider {
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-in-out;

        @include mobile {
        height: 100vh;
        flex-direction: column;    
        justify-content: center;
        }

        .container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;


            .item {
                width: 700px;
                height: 100%;
                background-color: #DFE3EE;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include mobile {
                    width: 90%;
                    height: 130px;
                    margin: 5px;
                }

                .left {
                    flex: 4;   
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include mobile {
                        flex: 6;
                    }

                    .leftContainer {
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        @include mobile {
                            width: 95%;
                            height: 95%;
                        }

                        .imgContainer {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: coral;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            @include mobile {
                                display: none;
                            }

                            .img {
                                width: 25px;
                            }
                        }
                        h2 {
                            font-size: 20px;
                            @include mobile {
                                font-size: 12px;
                            }
                        }
                        p {
                            font-size: 13px;

                            @include mobile {
                                font-size: 9px;
                            }
                        }
                        .YouTube {
                            display: flex;
                            flex-direction: column;
                            padding: 0;
                            margin: -50;
                            .top {
                                display: flex;
                                align-items: center;
                                padding: 0;
                                margin: 0;
                                h6 {
                                    font-size: 15px;
                                    @include mobile {
                                    font-size: 10px;
                                    }
                                }
                            }
                            .bot {
                                padding: 0;
                                margin:-50;
                                .youTube {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    p {
                                        font-size: 15px;
                                        a {
                                            text-decoration: none;
                                            color: inherit;
                                            @include mobile {
                                            font-size: 10px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        span {
                            font-size: 12px;
                            font-weight: 600;
                            text-decoration: underline;

                            @include mobile {
                                font-size: 9px;
                            }
                        }
                    }
                }

                .right {
                    flex: 8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    @include mobile {
                        flex: 6;
                        height: 90%;
                    }   
                    
                    img {
                        width: 400px;
                    }
                }
            }
        }
    }
}